### APP
PORT=3000
API_KEY=super-secret-key

### CHATGURU
CHATGURU_BASE_URL=https://s20.chatguru.app
CHATGURU_SESSION_TOKEN=
CHATGURU_USER=dev@clickcannabis.com
CHATGURU_PASS=
CHATGURU_CHAT_ID=

### DATABASE (POSTGRES)
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chatguru

# LOCAL
# DATABASE_URL=postgres://postgres:postgres@localhost:5433/chatguru

# DOCKER
DATABASE_URL=postgres://postgres:postgres@postgres:5432/chatguru

### REDIS (QUEUE / BULLMQ)
# LOCAL
# REDIS_HOST=localhost

# DOCKER
REDIS_HOST=redis
REDIS_PORT=6379